@tailwind base;
@tailwind components;
@tailwind utilities;



.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

/* .point-image {
  transition: transform 0.3s ease;
}


.point-image:hover {
  transform: scale(0.9);
} */

@media (max-width: 768px) {
  .point-image {
    width: 20px;
    height: 25px;
  }
}


/* GridComponent.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 5 columnas */
  grid-template-rows: repeat(12, 1fr);
  /* 5 filas */
  /* gap: 16px; */
  /* Espaciado entre los elementos (ajusta según lo necesites) */
  height: 100vh;
  /* Altura total de la ventana */
  width: 100vw;
  /* Ancho total de la ventana */
}

.header {
  grid-column: span 12;
  /* Ocupa todas las columnas */
  height: 80px;
  /* Ajusta la altura según lo necesites */
  background-color: #d1d5db;
  /* Color de fondo (gray-300) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.point-image {
  /* position: absolute; */
  /* Asegura que la imagen esté posicionada para apilarse */
  z-index: 1;
  /* Imagen de fondo */
}

.point-image-layer {
  /* position: absolute; */
  /* Asegura que la imagen esté posicionada para apilarse */
  z-index: 2;
  /* Imagen superpuesta */
}


.main-content {
  grid-column: span 12;
  /* Ocupa 4 columnas */
  grid-row: span 12;
  /* Ocupa 4 filas */
  grid-row-start: 2;
  grid-row-end: 12;
  /* Inicia en la fila 2 */
  background-color: #60a5fa;
  /* Color de fondo (blue-300) */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.material-object {
  width: auto;

  padding: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.material-name {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos hijos */
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.material-name-p {
  font-size: 18px;
  margin-right: auto;
  padding: 10px;
  /* Empuja el texto hacia la izquierda */
}

.fixed-size-image {
  width: 100px !important;
  height: 100px !important;
  margin-left: auto;
  /* Empuja la imagen hacia la derecha */
}

.image-border {
  border: 1px solid #000000;
}

.rotate-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo gris transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Asegúrate de que esté por encima de otros elementos */
}

.rotate-content {
  text-align: center;
  color: white;
}

.rotate-image {
  margin-bottom: 20px;
}